:root {
  --button-background: #808080;
  --button-hover: #606060;
  --stop-button-background: #f15152;
  /* --stop-button-hover: #bd2130; */
  --pause-button-background: #7f8c8d;
  /* --pause-button-hover: #0056b3; */
  --start-button-background: #7a306c; /* Colore verde per il pulsante di avvio */
  --background-color: #000;
  --accent-color: #7a306c;
  --text-color: #fff;
  --secondary-color: #7f8c8d;
  --tertiary-color: #f15152;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
}

.App img {
  width: 50%;
  margin: auto;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Comune a tutti i pulsanti */
.StartChargingButton,
.PauseChargingButton,
.StopChargingButton {
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Stili specifici per i pulsanti */
.StartChargingButton {
  background-color: var(--start-button-background);
}

.PauseChargingButton {
  background-color: var(--pause-button-background);
}

.StopChargingButton {
  background-color: var(--stop-button-background);
}

/* Effetto hover comune */
.StartChargingButton:hover,
.PauseChargingButton:hover,
.StopChargingButton:hover {
  background-color: var(--button-hover);
}

/* Responsive design per schermi più piccoli */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .StartChargingButton,
  .PauseChargingButton,
  .StopChargingButton {
    font-size: calc(8px + 2vmin);
  }
}

/* Aggiungi queste definizioni nel tuo file App.css */

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-direction: row;
}

@media (min-width: 768px) {
  .App {
    flex-direction: column;
  }
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.bottoni {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.places-of-interest {
  margin-top: 20px;
}

.place-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.place-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  min-width: 200px;
}

.place-card h4 {
  margin-bottom: 5px;
}

.content-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboarder {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
